body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}
header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    
}
h1 {
    color:  #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}
nav > ul{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0px;
    margin-block: 0;
    height: 100%;

}
h1, h2 {
    font-family: 'Verdana', sans-serif;

    
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;
}
/* El texto .sr-only todavía es visible. Hay un patrón común para ocultar texto visualmente para que sólo los lectores de pantalla lean.
Este patrón es establecer las siguientes propiedades de CSS: */
.sr-only {

position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;

}
/* coloca un texto en el html, antes de los elementos p */
p::before{
    content: "Question #";
}
nav > ul > li {
color: #dfdfe2;
margin: 0 0.2rem;
padding: 0.2rem;
display: block;
}
li a {
    color: inherit;
    text-decoration: none;

}
nav li:hover{
    background-color: yellowgreen;
    
}
main {
    padding-top: 25px;
}
section {
    width: 80%;
    margin: 0 auto 10px auto;
}